/examples/l22_small.cell.nml
/examples/l22_small.swc.cell.nml
catalog.xml
nbproject/private
cvapp.jar
temp
build
/spherSomaSwc/NeuroML2/*.mod
*_nrn.py
/spherSomaSwc/NeuroML2/*.hoc
arm64
/spherSomaSwc/NeuroML2/*.dat
/spherSomaSwc/NeuroML2/simulator.props
